body {
  background-color: darkcyan;
  font-family: 'Courier New', Courier, monospace;
  color: azure;
  font-size: medium;
  line-height: 20px;
}

h1, h2 {
  color: burlywood;
  font-size: medium;
  line-height: 10px;
}

p {
  font-size: small;
}

a {
  color: darkkhaki;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.card {
  background: cadetblue;
  padding: 30px;
  border: 1px solid linen;
  border-radius: 5px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.401);
}

.img-circle {
  border-radius: 50%;
  height: 100px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 540px) {
  .container {
    width: 100%;
  }
}
